body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f0f2ff;
    
}

.container {
    display: flex;
}

nav > ul > li {
    display: inline-block;
    padding: 5px 5px;
}

#icon-action > a {
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}

ul > li > a {
    font-family:'Poppins', sans-serif;
    width: 253px;
    height: 39px;
    font: bold;
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    

}

.heading{
    display: flex;
    align-items: center;
    padding: 10px;
}


.logo {
    position: relative;
    margin-left: -2px;
    width: 20px;
    height:auto;
    border: 5px solid rgba(253, 183, 183, 0.2);
    border-radius: 5px;
    
   
}

.storename {
    padding: 10px;
    font: bold;
    color: rgba(1, 97, 112, 1);
}


.sidebar {
    position: fixed;
    overflow: auto;
    background-color: white;
    border: 5px solid rgba(255, 231, 231, 0.2);
    width: 250px;
    height:100vh;

}

#sidebutton {
    margin-bottom: 1px;
}

.sidebar .sidelinks {
    margin-left: -38px;
}


.content {
    margin-left:250px;
}


.container .sidebar .sidelinks ul li {
    position: relative;
    display: grid;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

#icon-action {
    display: flex;
    align-items: center;
}

#icon {
    width: 18px;
    padding: 10px;
    margin-bottom: 4px;
    margin-right: 2px;
    color:rgba(92, 92, 92, 1);
    margin-top: 2px;


}

.exploreicon {
    margin-top: 1px;
    color:rgba(92, 92, 92, 1);

}

.customer-service-space {
    display: grid;
    border: 1px solid transparent;
    background-color:rgba(161, 210, 255, 1);
    border-radius: 10px;
    padding: 12px;
    margin: 15px;
}


.plus-sign {
    position: absolute;
    margin-bottom: 15px;
    margin-left: 25px;

}

.help {
    margin-top: 80px;  
    margin-left: 38px;           
}



.about {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    width: 188px;
    height: 50px;
    font-weight: 500;
    font-size: small;
    color: #24252A;

}

.customer-service {
    display: flex;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: rgba(1, 97, 112, 1);
    border: 1px solid transparent;
    border-radius: 9px;
    padding: 10px;
    background-color: #f0f2ff;
    width: 130px;
    height: 22px;
    font-weight: 500;
    margin-left: 15px;
}

.search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 60px;
    margin-top: 8px;
}

.search-bar {
    border: 2px solid transparent;
    border-radius: 9px;
    padding: 5px;
    width: 300px;
    margin-left: 50px;
    
}



input::-webkit-input-placeholder { 
    position:absolute;
    left: 60px;
    top: 2px;
    font-size: 18px; 
  }