
body {
    background-color:rgba(161, 210, 255, 0.3);
    box-sizing: border-box;
}


.logo img {
    width: 38px;
}

.nav-logos-m-27 img {
    width: 27px;
}

nav ul {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    
}

nav ul li {
    text-decoration: none;
    align-items: center;
    padding: 0 15px;
}

.shopname {
    margin-right: auto;
    text-decoration: none;
}