
body {
    background-color:rgba(161, 210, 255, 0.3);
    box-sizing: border-box;
}


.logo img {
    width: 30px;
    border: 6px solid transparent;
    background-color: rgba(161, 210, 255, 0.2);
    border-radius:18px;
}

.nav-logos-m-27 img {
    width: 27px;
}

nav ul {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul li {
    text-decoration: none;
    align-items: center;
    padding: 0 15px;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

.welcome {
}

.shopname{
    margin-right:auto;
    text-decoration: none;
}